{% extends 'base.jinja2' %}

{% block subtitle %}Incomplete Tasks{% endblock subtitle %}

{% block content %}
<form method="GET">
    {% if error %}{{ error }}{% endif %}
    <label for="code">Code: </label><input type="code" id="code" name="code">
    <input type="submit" value="Retrieve It!">
</form>
{% endblock content %}